
    body {
      font-size: 24px;
    }
    h1 {
      text-align: center;
    }
    .option-container {
      background-color: #87CEEB; /* Sky blue */
      border: 2px solid #ccc;
      border-radius: 10px;
      padding: 20px;
      margin-bottom: 20px;
      text-align: center;
      cursor: pointer;
      transition: background-color 0.3s;
    }
    .option-container:hover {
      background-color: #ADD8E6; /* Light sky blue on hover */
    }
    .symbol {
      font-size: 36px;
      margin-bottom: 10px;
    }
    ul {
      list-style-type: none;
      padding: 0;
    }
    li {
      margin-bottom: 10px;
    }
    a {
      text-decoration: none;
      color: #333;
    }
    a:hover {
      color: #007bff;
    }
